<section class="container">
  <button class="button">Click me please</button>
  <p class="text hidden">You clicked it!</p>

  <nav class='navMenu'>
    <a href="">home</a>
    <a href="">about us</a>
    <a href="">buying our product</a>
    <a href="">hate mail</a>
    <a href="">don't contact us</a>
  </nav>
</section>
